@inject ApiClient Api

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🏨 Admin Panel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        @if (Api.IsAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="hotels">Hotels</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rooms">Rooms</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="bookings">Bookings</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">Users</NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">Login</NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
